<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link href="__ADMIN__/css/style_ele.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__ADMIN__/js/jquery.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $(".click").click(function() {
            $(".tip").fadeIn(200);
        });

        $(".tiptop a").click(function() {
            $(".tip").fadeOut(200);
        });

        $(".sure").click(function() {
            $(".tip").fadeOut(100);
        });

        $(".cancel").click(function() {
            $(".tip").fadeOut(100);
        });

    });
    </script>
</head>

<body>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">首页</a></li>
            <li><a href="#">数据表</a></li>
            <li><a href="#">基本内容</a></li>
        </ul>
    </div>
    <div class="rightinfo">
        <div class="tools">
            <ul class="toolbar">
                <a href=""><li><span><img src="__ADMIN__/img/t01.png" /></span>添加</li></a>
                <li><span><img src="__ADMIN__/img/t02.png" /></span>修改</li>
                <a href="javascript:;" id="dels"><li><span><img src="__ADMIN__/img/t03.png" /></span>删除</li></a>
                <li><span><img src="__ADMIN__/img/t04.png" /></span>统计</li>
            </ul>
        </div>
        <table class="tablelist">
            <thead>
                <tr>
                    <th>
                        <input name="" type="checkbox" value="" id="checkAll"  onclick="selectAll()" />
                    </th>
                    <th>编号</th>
                    <th>用户组</th>
                    <th>权限ids</th>
                    <th>权限ac</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
            <volist name="info" id="v">
                <tr>
                    <td>
                        <input name="check" type="checkbox" value="{$v.role_id}" />
                    </td>
                    <td>{$v.role_id}</td>
                    <td>{$v.role_name}</td>
                    <td>{$v.role_auth_ids}</td>
                    <td>{$v.role_auth_ac}</td>
                    <td><a href="__CONTROLLER__/setAuth/role_id/{$v.role_id}" class="tablelink">设置权限</a> <a href="__CONTROLLER__/del/role_id/{$v.role_id}" class="tablelink" onclick="return del()"> 删除</a></td>
                </tr>
               </volist>
            </tbody>
        </table>
    </div>
    <script type="text/javascript">

        function selectAll(){
            if($('#checkAll').attr('checked')){
                $(":checkbox").attr('checked',true);
            }else{
              $(":checkbox").attr('checked',false);
            }
        }
        $('input[name="check"]').change(function(){
            $('#checkAll').attr('checked',false)
        });
        $('#dels').click(function(){
            var check_list = $(":checkbox:checked");
            var ids = "";
            check_list.each(function(){
                ids += $(this).val()+',';
            });
            ids = ids.substr(0,ids.length-1);
            if(!ids){
                alert('请选择要删除的记录！！！');
                return;
            }else{
                var mark = confirm('亲你确定要删除这么多吗？？？');
                        if(!mark){
                            return false;
                        }
            }
            //alert(ids);

            location.href = "__CONTROLLER__/dels/id/"+ids;
        });
        function del(){
            return confirm('你确定删除吗？');
        }
        $('.tablelist tbody tr:odd').addClass('odd');
    </script>
</body>

</html>
